section
  .wrapper
    .header
      h4 How CI can be used
    .image_RSS 
      image(src='images/rss.png')
    section
      .main.fragment.fade-in
        image.agile(src='images/agile.jpg')
      aside.notes
        | How CI can be used.
        | CI is generally used alongside an agile software development workflow. An organization will compile list of tasks that comprise a product roadmap. These tasks are then distributed amongst software engineering team members for delivery. Using CI enables these software development tasks to be developed independently and in parallel amongst the assigned developers. Once one of these tasks is complete, a developer will introduce that new work to the CI system to be integrated with the rest of the project.
    