section
  .wrapper
    .header
      h4 Continuous integration (CI)
    .image_RSS 
      image(src='images/rss.png')
    section
      .main
      p CI is the practice of automating the integration of code changes from multiple contributors into a single software project.
      //- section
        //- footer#footer
        //-   .text_rss
        //-     p Rolling Scopes School 2020
        //-   .github
        //-     a(href="https://github.com/olgakharkevich") Olga Kharkevich