section
  h2 What is
    br
    | Continuous Integration
  .slide-0
    p.fragment.fade-in 
      | Build your team's agility with faster feedback.
      br
      | Because you only move as fast as your tests.
    