section
  .wrapper
    .header
      h4 Importance of CI
    .image_RSS 
      image(src='images/rss.png')
    section
      .main
       p The communication overhead of a non-CI environment can become a complex and entangled synchronization chore, which adds unnecessary bureaucratic cost to projects.