section
  .wrapper
    .header
      h4 
      | Benefits and challenges
      br
      | of continuous integration
    .image_RSS 
      image(src='images/rss.png')
    section
      .main
       ul
        li.fragment.fade-in
          | Enable scaling
        li.fragment.fade-in
          | Improve the feedback loop
        li.fragment.fade-in
          | Enhance communication
        li.fragment.fade-in
          | Technology learning curve
          .img-slide-6.fragment.fade-in
            image(src='images/queue.jpg')
      aside.notes
        | Benefits and challenges of continuous integration.
        br
        | CI is a valuable asset to a software producing organization. CI benefits are not limited to the engineering team but greatly benefit the overall organization. The following are some of the overall organizational benefits of CI.
        br
        | Enable scaling. CI enables organizations to scale in engineering team size, codebase size, and infrastructure.
        br
        | Improve the feedback loop. Faster feedback on business decisions is another powerful side effect of CI. Product teams can test ideas and iterate product designs faster with an optimized CI platform.
        br
        | Enhance communication. Overall engineering communication and accountability is improved with CI. By introducing pull request work flows tied to CI, developers gain passive knowledge share. Pull Requests allow Developers to observe and comment on code from other team members. Developers can now view and collaborate on feature branches with other developers as the features progress through the CI Pipeline.
        br
        | Technology learning curve. CI functionality comes with a list of supportive technologies that may be learning curve investments for the team to undertake. These technologies are version control systems, hosting infrastructure, and orchestration technologies.

