section
  .wrapper
    .header
      h4 
      | CI vs Continuous Deployment
      br
      | vs Continuous Delivery
    .image_RSS 
      image(src='images/rss.png')
    section
      .main
        p Continuous integration, deployment, and delivery are three phases of an automated software release pipeline.
        .img-slide-5.fragment.fade-in
          image(src='images/monkeys.jpg')
