section
  .wrapper
    .header
      h4 Summary
    .image_RSS 
      image(src='images/rss.png')
    section
      p If your organization has a multiple-developer software team and is not using CI, this is an opportunity to truly enhance your team’s quality of life. CI will help your engineering org execute quicker and more effectively.
      aside.notes
        | Summary.
        | If your organization has a multiple-developer software team and is not using CI, this is an opportunity to truly enhance your team’s quality of life. CI will help your engineering org execute quicker and more effectively.
    