section
  .wrapper
    .header
      h4 
      | Benefits and challenges
      br
      | of continuous integration
    .image_RSS 
      image(src='images/rss.png')
    section
      .main
       ul
        li.fragment.fade-in
          | Enable scaling
        li.fragment.fade-in
          | Improve the feedback loop
        li.fragment.fade-in
          | Enhance communication
        li.fragment.fade-in
          | Technology learning curve
          .img-slide-6.fragment.fade-in
            image(src='images/queue.jpg')
