section
  .wrapper-1
    .image
      image(src='images/photo_github.jpg')
    .text
      ul
        li
          h4 Olga Kharkevich
        li Gomel State Technical University (2009)
        li constructor engineer
        li
          | student of the 
          strong Rolling Scopes School
          |
          br
          | since January of 2020
  aside.notes
    | Hi! I am Olga Kharkevich. I graduated from Gomel State Technical University in 2009. I've been working as an constructor engineer since 2009 till nowadays. I've been a student of the Rolling Scopes School since January of 2020.
