section
  .wrapper
    .header
      h4 CI best practices
    .image_RSS 
      image(src='images/rss.png')
    section
      .slide-7-section
        .SD_cycle
          image(src='images/SD_cycle.jpg')
        .main
          ul
            li.fragment.fade-in
              | Test Driven Development
            li.fragment.fade-in
              | Pull requests and code review
            li.fragment.fade-in
              | Optimize pipeline speed
