section
  .wrapper
    .header
      h4 CI best practices
    .image_RSS 
      image(src='images/rss.png')
    section
      .slide-7-section
        .SD_cycle
          image(src='images/SD_cycle.png')
        .main
          ul
            li.fragment.fade-in
              | Test Driven Development
            li.fragment.fade-in
              | Pull requests and code review
            li.fragment.fade-in
              | Optimize pipeline speed
      aside.notes
        | CI best practices.
        br
        | Test Driven Development.
        br
        | Test Driven Development (TDD) is the practice of writing out the test code and test cases before doing any actual feature coding.
        br
        | Pull requests and code review.
        br
        | Pull requests are a critical practice to effective CI. A pull request is created when a developer is ready to merge new code into the main codebase.
        br
        | Pull requests and code review are a powerful tool to foster passive communication and knowledge share among an engineering team. This helps guard against technical debt in the form of knowledge silos, where specific engineers are the only stakeholders for certain features of a code base.
        br
        | Optimize pipeline speed.It is a best practice to measure the CI pipeline speed and optimize as necessary.
        br
        | A faster CI pipeline enables a faster product feedback loop. Developers can rapidly push changes and experiment with new feature ideas to help improve the user experience

