section
  .wrapper-1
    .image
      image(src='images/photo_github.jpg')
    .text
      ul
        li
          h4 Olga Kharkevich
        li Gomel State Technical University (2009)
        li constructor engineer
        li
          | student of the 
          strong Rolling Scopes School
          |
          br
          | since the January of 2020 
