section
  .wrapper
    .header
     h4 
      | Getting started
      br
      | with continuous integration
    .image_RSS 
      image(src='images/rss.png')
    section
      .main
        .img-slide-8.fragment.fade-in
          image.bitbucket(src='images/bitbucket.jpg')
          image.github(src='images/github.jpg')
          image.gitLab(src='images/gitLab.jpg')