@import '../../node_modules/reveal.js/css/reveal.css';
@import '../../node_modules/reveal.js/css/theme/sky.css';


.reveal h2 {
  font-size: 5rem;
  font-weight: 700;
}

.slide-0 {
  font-size: 2rem;
  font-style: italic;
  margin-top: 50px;
}

.wrapper-1 {
  display: flex;
  align-items: center;
}

.wrapper-1 .image {
  width: 20%;
}

.wrapper-1 .text {
  width: 80%;
  font-size: 2rem;
}

.wrapper-1 .text ul li:first-child {
  list-style: none;
}

.reveal section .wrapper img {
  border-color: white;
}

.reveal section .wrapper-1 img {
  border-radius: 50%;
  border-color: white;
}

section > .wrapper > .header {
  border-bottom: 1px solid black;
  padding-bottom: 15px;
}

.reveal section .wrapper .image_RSS img {
  position: absolute;
  right: 0;
  top: 0;
  border: none;
  background: none;
  box-shadow: none;
  width: 80px;
}

section > .wrapper > .header {
  margin-bottom: 100px;
}

.agile {
  width: 70%;
}

.img-slide-2 > img {
  width: 40%;
}

.img-slide-5 > img {
  width: 70%;
}

.img-slide-6 > img {
  width: 20%;
  position: absolute;
  right: 10%;
}

.slide-7-section {
  display: flex;
  align-items: center;
}

.slide-7-section .SD_cycle {
  width: 33%;
}

.slide-7-section .main {
  width: 67%;
}

.SD_cycle img {
  border-radius: 50%;
}

.img-slide-8 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
 .github {
   width: 15%;
   border-radius: 50%;
 }

.bitbucket,
.gitlab {
  width: 30%;
}

.reveal section .img-slide-10 img {
  border-color: white;
  width: 50%;
}